<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
    <style>
        .a{
            width: 100%;
            height: 30px;
            text-align: center;
        }
        #return{
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div style = 'text-align: center;'><font color="#4169E1" size="10">请选择你要操作的对象</font></div>
<div style = 'text-align: right;'><font color="#4169E1" size="5"><a id="return" href="{{url_for('login')}}">退出<a/></font></div>
<div class="a">
    <div class="app">

    <div style="display:inline-block;"> <a href="{{ url_for('manageStudent') }}"><button type="submit" class="login-btn register-btn" id="button", style="width: 150px">学生</button></a></div>

    <div style="display:inline-block;margin-left:10px;margin-top:400px"> <a href="{{ url_for('manageTeacher') }}"><button type="submit" class="login-btn register-btn" id="button", style="width: 150px">教师</button></a></div>

    <div style="display:inline-block;margin-left:10px;"> <a href="{{ url_for('manageLecture') }}"><button type="submit" class="login-btn register-btn" id="button", style="width: 150px">课程</button></a></div>

    </div>
    <br/>
</div>
</body>
</html>