<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除学生</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
    <style>
        #return{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div style = 'text-align: right;'><font color="#4169E1" size="5"><a id="return" href="{{url_for('manageStudent')}}">返回<a/></font></div>
    <br/>
    <form method="post">
        <div class="login form">
            <div class="group">
                <div class="group-ipt stu_id">
                    <input type="text" name="stu_id" id="stu_id" class="ipt" placeholder="输入删除用户学号" required>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">删除学生</button>
            </div>
        </div>
    </form>

</body>
</html>