<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学生</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
	<link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
	<style>
        #return{
            text-decoration: underline;
        }
    </style>
</head>
<body>
	<div style = 'text-align: right;'><font color="#4169E1" size="5"><a id="return" href="{{url_for('manageStudent')}}">返回<a/></font></div>
	<br/>
	<form method="post">
        <div class="login form">
			<div class="group">
				<div class="group-ipt stu_id">
					<input type="text" name="stu_id" id="stu_id" class="ipt" placeholder="输入添加用户学号" required>
				</div>
				<div class="group-ipt name">
					<input type="text" name="name" id="password" class="ipt" placeholder="输入添加用户名字" required>
				</div>
				<div class="group-ipt sex">
					<input type="text" name="sex" id="password" class="ipt" placeholder="输入添加用户性别" required>
				</div>
                <div class="group-ipt department">
					<input type="text" name="department" id="password" class="ipt" placeholder="输入添加用户学院/学部" required>
				</div>
                <div class="group-ipt major">
					<input type="text" name="major" id="password" class="ipt" placeholder="输入添加用户专业" required>
				</div>
                <div class="group-ipt ad_year">
					<input type="text" name="ad_year" id="password" class="ipt" placeholder="输入添加用户入学年份" required>
				</div>
                <div class="group-ipt password">
					<input type="text" name="password" id="password" class="ipt" placeholder="输入添加用户登录密码" required>
                </div>
                <div class="group-ipt phone">
					<input type="text" name="phone" id="password" class="ipt" placeholder="输入添加用户电话" required>
                </div>
                <div class="group-ipt email">
					<input type="text" name="email" id="password" class="ipt" placeholder="输入添加用户邮箱" required>
                </div>
                <div class="group-ipt political">
					<input type="text" name="political" id="password" class="ipt" placeholder="输入添加用户政治面貌" required>
				</div>
			</div>
            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">添加学生</button>
            </div>
		</div>
    </form>

</body>
</html>